.wrapper-contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper-contact {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.contact-title {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: bolder;
}

.contact-info {
  font-family: "aileron", sans-serif;
  background: #00bc66;
  color: #fff;
  padding-left: 200px;
  position: relative;
}

.contact-info-address {
  position: relative;
  padding-left: 180px;
  margin-bottom: 30px;
  line-height: 2;
  min-height: 50px;
}

.contact-info-email {
  position: relative;
  padding-left: 180px;
  margin-bottom: 30px;
  min-height: 30px;
}

.contact-infos-tel {
  position: relative;
  padding-left: 180px;
  margin-bottom: 30px;
  min-height: 50px;
}

.openStreetMap {
  text-align: center;
}
